body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

    .rounded-right {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 30px;
        width: 100px;
    }
    .card-title {
        margin-top: -100px;
        margin-left: 50px;
        text-align: center;
    }
    .card-text {
        margin-top: 40px; 
        text-align: center;
        margin-left: 50px;
    }

    #robotcarousel {
        width: 600px; /* Set a fixed width for the carousel */
        height: 400px; /* Set a fixed height for the carousel */
        margin: 0 auto; /* Center the carousel horizontally */
        overflow: hidden; /* Hide any overflow from images, so that the image size is consistant with the set demensions */
    }
    
    #robotcarousel img {
        width: 100%; /* Make the images fill the width of the carousel */
        height: 100%; /* Make the images fill the height of the carousel */
        object-fit: cover; /* Ensure the images cover the entire container */
    }
    
    .carousel-control-prev,
    .carousel-control-next {
        position: absolute;
        width: 40px;
        top: 50%; /* Center vertically */
        transform: translateY(-50%); /* Center vertically */
    }